<!-- Navigation -->
<ng-container *ngIf="currentUser?.role === 'ROLE_ADMIN'; else userHeader">
  <app-header-admin></app-header-admin>
</ng-container>
<ng-template #userHeader>
  <app-header-user></app-header-user>
</ng-template>

<!-- Page Content -->
<div class="container">
  <header class="jumbotron my-4">
    <h1 class="display-3">Bienvenido a CompraFácil 2024</h1>
    <p class="lead">Tienda virtual de productos</p>

  </header>

  <div class="main-content">
    <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Producto a buscar" aria-label="Search">
            <button class="btn btn-light" type="submit">Buscar</button>
          </form>
          </li>
        </ul>
    <div class="section-content section-content-p30">
      <div class="container-fluid">
        <div class="row">
          <div *ngFor="let p of products" class="col-md-3">
            <div class="product-box">
              <img [src]="p.urlImage" alt="{{p.name}}">
              <h2 class="card-text">{{p.name}}</h2>
              <div class="price">{{p.price}}</div>
              <div class="product-show">
                <a [routerLink]="['/cart/detailproduct', p.id]" class="primary-btn">Ver producto</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="py-5 bg-primary">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; CompraFacil 2024</p>
  </div>
</footer>
