.btn-primary {
  background-color: #8AB0AB; /* Color de fondo */
  color: #ffffff; /* Color del texto */
  border: none; /* Sin borde */
  padding: 0.5rem 1rem; /* Espaciado interno */
  font-size: 1rem; /* Tamaño de la fuente */
  border-radius: 0.25rem; /* Bordes redondeados */
  transition: background-color 0.3s, transform 0.3s; /* Transición suave */
}

.btn-primary:hover {
  background-color: #556c67; /* Color de fondo al hacer hover */
  transform: translateY(-2px); /* Efecto de elevación al hacer hover */
}

.btn-primary:active {
  background-color: #8AB0AB; /* Color de fondo al hacer clic */
  transform: translateY(0); /* Sin efecto de elevación al hacer clic */
}
